* {
    margin: 0;
    padding: 0;

    html {
        overflow: hidden;

        body {
            overflow: hidden;
        }
    }
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}