.dialog-mask {
    width: 100% !important;

    .dialog-wrapper {
        .dialog-container {
            width: 375PX;

            .songSheetTopBanner {
                height: 160px;
                background-color: #d9d5d2;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                z-index: 2002;

                .navbarSorll {
                    width: 100%;
                    padding: 18px 20px 0;
                    overflow: auto;
                    box-sizing: border-box;
                    position: relative;

                    ul {
                        width: 300%;
                        overflow-x: auto;
                        overflow-y: hidden;

                        li {
                            float: left;
                            width: 145px;
                            margin-right: 20px;
                            font-size: 28px;
                            color: #545454;
                            text-align: center;
                            touch-action: pan-x;
                            overflow: hidden; //隐藏文字
                            text-overflow: ellipsis; //显示...
                            white-space: nowrap; //不换行
                        }

                        li:last-child {
                            margin-right: 0;
                        }

                        .active {
                            color: #eb3028;
                            font-size: 29px;
                        }
                    }

                    .more {
                        position: fixed;
                        top: 100px;
                        right: 0;
                        height: 56px;
                        width: 56px;
                        text-align: center;
                        line-height: 56px;
                        background-color: #d9d5d2;

                        i {
                            font-size: 50px;
                        }
                    }

                }
            }

            .sheet {
                padding-top: 200px;
                background-color: #d9d5d2;

                ul {
                    padding: 0 12px 120px 29px;
                    overflow-y: auto;
                    height: 80vh;
                    touch-action: pan-y;

                    li {
                        width: 30.5%;
                        margin-right: 20px;
                        float: left;
                        height: 300px;
                        touch-action: pan-y;
                        margin-bottom: 20px;
                        position: relative;

                        img {
                            width: 100%;
                        }

                        span {
                            position: absolute;
                            top: 10px;
                            right: 12px;
                            color: #fff;
                            font-size: 16px;
                        }

                        p {
                            font-size: 22px;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 2; //长度超过2行显示……
                            -webkit-box-orient: vertical;
                            display: -webkit-box;

                        }
                    }
                }
            }
        }
    }

    .categories-warp {
        background-color: #fff;
        width: 600px;
        height: 101vh;
        padding: 100px 20px;
        overflow-y: auto;

        .bigcategories {
            padding-bottom: 150px;

            li {
                padding-top: 50px;
                font-size: 25px;

                .smallcategories{
                    padding: 30px 0 0;
                    li{
                        padding-top: 0;
                        float: left;
                        width: 30%;
                        height: 60px;
                        background-color: rgb(243, 243, 243);
                        border-radius: 10px;
                        text-align: center;
                        line-height: 60px;
                        margin-right: 3%;
                        margin-bottom: 3%;
                    }
                }
            }
        }
    }
}